
<% if @tech.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@tech.errors.count, "error") %> prohibited this Tech from being saved:</h2>

  <ul>
    <% @tech.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form_for(@tech) do |f| %>
<%= f.label :tech %>
<%= f.text_field :name %>

<%= f.submit %>
<% end %>