<h1>New Tech</h1>

<% if @tech.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tech.errors.count, "error") %> prohibited this Tech from being saved:</h2>

    <ul>
      <% @tech.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@tech) do |f| %>
  <%= f.label "Tech" %>
  <%= f.text_field :name %>
  <%= f.fields_for :synths do |s| %><br>
    <%= s.label :name %>
    <%= s.text_field :name %><br>
    <%= s.label :brand %>
    <%= s.text_field :brand %><br> 
    <%= s.label :hybrid %>
    <%= s.check_box :hybrid %><br>
    <%= s.label :price %>
    <%= s.number_field :price %><br>
    <%= s.label :description %>
    <%= s.text_field :description %><br>
  <% end %>
  <%= f.submit %>
<% end %>
