<h1><%= @synth.brand %> <%= @synth.name %></h1>

Name: <%= @synth.name %><br>
Tech: <%= @synth.tech.name %><br>
Hybrid Tech? <%= @synth.display_hybrid %>
<br>
Price: <%= number_to_currency(@synth.price) %>
<br>
<%= link_to("Edit Synth", edit_synth_path(@synth.id)) %>
<%= link_to("Delete Synth", synth_path(@synth.id), method: 'delete')%>