<!DOCTYPE html>
<html>
  <head>
    <title>SynthsAccumulate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <%= logged_and_current %>
  <hr>
  <% if flash[:message] %>
    <div class="field_with_errors"> <%=flash[:message]%></div>
  <% end %>
    <%= yield %>
    <hr>
    <%= link_to("Home", root_path) %><br>
    <%= link_to("All Synths", synths_path) %><br>
    <%= link_to("All Tech", teches_path) %><br>
    <%= link_to("Prodigal Synth", prodigal_synth_path) %><br>
    <%= link_to('New Synth', new_synth_path) %><br>
    <%= link_to('New Tech', new_tech_path) %><br>
    
    <%= form_tag logout_path(session.id), method: "delete" do %>
      <%= submit_tag "Logout"%>
    <% end %>

  </body>
</html>
