<!DOCTYPE html>
<html>
  <head>
    <title>SynthsAccumulate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= button_to("Login with Google", '/auth/google_oauth2') %>
  <hr>
  <% if flash[:message] %>
    <div class="field_with_errors"> <%=flash[:message]%></div>
  <% end %>
    <%= yield %>
    <hr>
    <%= link_to("All Synths", synths_path) %>
    <%= link_to("Add Synths", new_synth_path) %>
    <%= link_to("Prodigal Synths", prodigal_synth_path) %>
    <%= link_to("Logout", '/logout', method: 'delete') %>
  </body>
</html>
